html, body, h1, h2, section, a, ul, p, li, div {
  background: transparent;
  font: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

ul {
  list-style: none;
}

header h1 {
  padding: 20px;
  font-size: 48px;
  font-weight: 700;
}

.journal-app {
  display: block;
  position: relative;
  border: 2px solid black;
  background: #ccc;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.sidebar {
  border: 2px solid black;
  display: block;
  float: left;
  background: #eee;
  width: 200px;
  padding: 20px;
}

.content {
  display: block;
  padding: 20px;
  margin-left: 226px;
  /* background: yellow; */
}
